* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #3c3c3c;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: #FFFFFF;
}

.h2 {
  font-size: 18px;
  font-weight: 700;
}

.bajada {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: #FFFFFF;
}

.titulo {
  font-weight: 700;
  font-size: 1.4rem;
  color: #83ff77;
}

.barramenu {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 1rem;
  padding-left: 1rem;
}
.barramenu img {
  max-height: 30px;
  padding: 5px;
}

.alinearder {
  margin-left: auto !important;
}

.footer {
  background: #000000;
  height: 55px;
  border-top: 2px solid #00ffcb;
  color: #FFFFFF;
  font-weight: 100;
}

.comofunciona {
  background: linear-gradient(#000019, #005eae, #5bdacd);
}
.comofunciona .comofunciona-detalle {
  animation-name: aparecer_der;
  animation-duration: 1s;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #FFFFFF;
}
.comofunciona .comofunciona-detalle img {
  width: 350px;
  padding: 20px;
  animation-name: aparecer_izq;
  animation-duration: 1s;
}

.caracteristicas {
  background: linear-gradient(-45deg, #00dacb, #005ea8, #1a002d);
}
.caracteristicas .caracteristicas__detalle {
  width: 250px;
  margin: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #FFFFFF;
}
.caracteristicas .caracteristicas__detalle img {
  width: 100px;
}
.caracteristicas .detalles__titulo {
  font-weight: 900;
  font-size: 1.4rem;
  color: #FFFFFF;
}

.conectividad {
  background: linear-gradient(-45deg, #00dacb, #005ea8, #1a002d);
}
.conectividad .conectividad_detalle img {
  max-width: 250px;
  animation-name: aparecer_izq;
  animation-duration: 1s;
}
.conectividad .conectividad_descripccion img {
  max-height: 100px;
  margin: 10px;
}
.conectividad .stores img {
  max-height: 40px;
  margin: 10px;
}

.experiencia {
  background: linear-gradient(#330c84, #040411);
  color: #FFFFFF;
}

.video {
  min-height: 350px;
}

.newsletter {
  background: linear-gradient(45deg, #24023b, #6800ae, #5400da);
}
.newsletter .email {
  max-width: 350px;
}
.newsletter .newsletter__btn {
  background-color: #1a002d;
  color: #00dacb;
  padding: 3px;
  border-radius: 10px;
  height: 35px;
  max-width: 250px;
}

@keyframes aparecer_izq {
  0% {
    transform: translate(-50px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes aparecer_der {
  0% {
    transform: translate(50px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@media screen and (max-width: 768px) {
  .comofunciona-detalle {
    text-align: center;
  }
}
.bajadadesafio {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.3rem;
}

.boton, .boton-celeste, .boton-rojo, .boton-verde {
  width: 250px;
  height: 50px;
  color: #FFFFFF;
  margin: 5px;
  background-color: aquamarine;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  border: 0px;
}

.boton-verde {
  background-color: #00ff95;
  color: #000000;
}
.boton-verde:hover {
  background-color: #eca916;
  width: 250px;
  height: 50px;
  color: #FFFFFF;
}

.boton-rojo {
  background-color: #8a1c1c;
}
.boton-rojo:hover {
  background-color: #360a6e;
}

.boton-celeste {
  background-color: #0e9bfa;
}
.boton-celeste:hover {
  background-color: #f53fcd;
}/*# sourceMappingURL=style.css.map */