@keyframes aparecer_izq{
    0%{transform: translate(-50px,0px);
       opacity: 0;}
    100%{transform: translate(0px,0px);}
}

@keyframes aparecer_der{
    0%{transform: translate(50px,0px);
       opacity: 0;}
    100%{transform: translate(0px,0px);}
}
