.caracteristicas{
    background: $fondo02;

    .caracteristicas__detalle {
        width: 250px;
        margin: 20px;
        text-align: center;
        font-size: 1.2rem;
        color:#FFFFFF;
    
        img{
            width: 100px;
        }
    }
    
    .detalles__titulo{
        font-weight: 900;
        font-size: 1.4rem;
    }
}
