.FT_detalle {
    color: #FFFFFF;
    justify-self: right;
    font-size: 1.2rem;
    line-height: 1.6rem;
    
    img {
    max-height: 300px;
    animation-name: aparecer_der;
    animation-duration: 1s;
    }
}