h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
}

.bajada{
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #FFFFFF;
}

.subtitulo{
    font-weight: 700;
    font-size: 20px;
}

.subtitulo2{
    font-weight: 700;
    font-size: 14px;
}

.titulo{
    font-weight: 700;
    font-size: 1.5rem;
    color:#83ff77;
}