h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #FFFFFF;
}

.h2{
    font-size: 18px;
    font-weight: 700;
}

.bajada{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #FFFFFF;
}

.titulo{
    font-weight: 700;
    font-size: 1.4rem;
    color:#83ff77;
}